{% extends 'base.html' %}

{% block header %}
 <header class="bg">

{% include 'include/header.html' %}

     <div class="reserv_wrap">
         <div class="container">
             <div class="col-md-12">
                 <div class="reserv_field">
                     <div class="reserv_text">
                         <h2>Заявка принята!</h2>
                         <p>Спасибо за заявку, с вами свяжутся в ближайшее время!</p>
                     </div>

                 </div>
             </div>
         </div>
     </div>

 </header>

{% endblock header %}


{% block content %}




{% endblock content %}